<div class="card">
  <div class="card-body">
    <mat-card-title>My Shows</mat-card-title>
    <p mat-card-subtitle style="margin-bottom:0;">
      Click a show to see where it's available to be watched
    </p>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let show of shows">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ show.name }}</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-title>Available On:</mat-panel-title>
      <mat-panel-description *ngFor="let location of show.locations">
        {{ location.name }}</mat-panel-description
      >
      <mat-action-row>
        <button mat-button color="warn" (click)="deleteShow(show)">
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
