.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  margin-right: 1rem;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


