<mat-form-field appearance="standard">
  <mat-label>Search for a Show</mat-label>
  <input
    name="show"
    matInput
    placeholder=""
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    (ngModelChange)="getApiSearchResults()"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="getShowName"
    [autoActiveFirstOption]="true"
  >
    <mat-option *ngFor="let show of showsOptions | async" [value]="show">
      <img
        class="auto-complete-img"
        src="{{ show.picture }}"
        height="40"
        width="40"
      />
      <small>{{ show.name }}</small>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<button
  mat-raised-button
  color="primary"
  (click)="addShow(searchControl.value)"
>
  Add Show
</button>
